body{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background: #003333;
    overflow: hidden;
}

h1{
    color: #FF3333;
    text-align: center;
}

.score-text{
    text-align: center;
    color: whitesmoke;
}